/* nav css */
.weblogo{
    width:65px;
}
.navbar{
    background: #00000082 !important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: white;
}









/* nav end */
        .img12 {
            width: 80%;
        }

        .a{
            text-align: center;
            padding-top: 20px;
            text-transform: uppercase;
            font-family: 'prague';
            letter-spacing: 3px;
        }

        .c{
            background: url(https://pn-paul.netlify.app/image/img%20background.jpg);
            width: 100%;
            height: 400px;
            background-size: cover;
            padding-top: 120px;
            color: white;
        }
        .d{
            line-height: 35px;
            letter-spacing: 1px;
            word-spacing: 1px;
            padding-right: 5px;
        }

        .e{
            line-height: 35px;
            letter-spacing: 1px;
            word-spacing: 1px;
            padding-right: 5px;
            margin-top: 10px;
            text-align: center;
        }
        .cc{
            background: url(../Image/ffback2.png);
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: flex-start;
         justify-content: center;
          padding-top: 50px;
        
            
        }
        .text-box{
            margin-top: 100px;
            text-align: center;
            color: white;
        }
